body {
    font-family: Arial, sans-serif;
    background-color: #2a0d4a;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    display: flex;
    max-width: 800px;
    background-color: #4b1d8b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.image-section img {
    max-width: 200px;
    border-radius: 10px;
    margin-right: 20px;
}
.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.description {
    font-size: 16px;
    margin-bottom: 15px;
}
.price {
    font-size: 20px;
    font-weight: bold;
    color: #ffdd00;
}

.back-button {
    margin-left: 0%;
    margin-top: 23%;
    display: flex;
    position: absolute;
    justify-content: center;
}

.back-button img {
    width: 20%;
    height: 100%;
    cursor: pointer;
}